<h1>Judges</h1>
<p>Select a judge&hellip;</p>
<table class="detail-table judge-table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Party</th>
            <th>Sitting</th>
            <th>Precinct</th>
            <th>E-Mail</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{last_name}}</td>
            <td>{{first_name}}</td>
            <td>{{pol_aff}}</td>
            <td>{{isSitting}}</td>
            <td>{{precinct_id}}</td>
            <td>{{email}}</td>
            <td><a href="{{this_will_link_to_candidate}}">More&hellip;</a></td>
        </tr>
        <tr>
            <td>{{last_name}}</td>
            <td>{{first_name}}</td>
            <td>{{pol_aff}}</td>
            <td>{{isSitting}}</td>
            <td>{{precinct_id}}</td>
            <td>{{email}}</td>
            <td><a href="{{this_will_link_to_candidate}}">More&hellip;</a></td>
        </tr>
    </tbody>
</table>
