<h1>Find <span class="underline">Your</span> Match</h1>
<h3>Instructions</h3>
<p>Here, we'll give you the ten (10) most important issues as sourced by
    <a href="http://www.gallup.com/poll/1675/most-important-problem.aspx">Gallup Polling</a>. Enter your ZIP code, choose your stance, and see your matches on the next page. As noted below in the disclaimer, no identifiable information will be linked with you, and any data storage is anonymous and purely for analytical purposes.</p>
<!-- Begin Quiz -->
<div class="match-q-a">
    <h1>Enter your ZIP Code</h1>
    <label for="zip">ZIP Code</label>
    <input id="zip" type="text" maxlength="5" autofocus placeholder="12345" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
</div>
<!-- Begin Question -->
<div class="match-q-b">
    <h1>1) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-a">
    <h1>2) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q2" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q2" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q2" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q2" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q2" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-b">
    <h1>3) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q1" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q3" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q3" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q3" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q3" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-a">
    <h1>4) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q4" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q4" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q4" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q4" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q4" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-b">
    <h1>5) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q5" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q5" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q5" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q5" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q5" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-a">
    <h1>6) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q6" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q6" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q6" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q6" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q6" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-b">
    <h1>7) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q7" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q7" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q7" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q7" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q7" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-a">
    <h1>8) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q8" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q8" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q8" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q8" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q8" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-b">
    <h1>9) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q9" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q9" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q9" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q9" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q9" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<!-- Begin Question -->
<div class="match-q-a">
    <h1>10) {{question.question}}</h1>
    <p>{{question.question_desc}}</p>
    <div class="match-choices">
        <span class="choice">
            <input type="radio" name="q10" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q10" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q10" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q10" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
        <span class="choice">
            <input type="radio" name="q10" value="{{question_choices.choice}}"/>
            <label for="{{question_choices.choice}}">{{question_choices.choice}}</label>
        </span>
    </div>
</div>
<!-- End Question -->
<input id="submit-match" type="submit" value="Find Your Match" />
<!-- End Quiz -->
